<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
        integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Livros</title>
</head>

<body>
    <%- include('../partials/header'); %>
    <nav class="menu d-flex justify-content-center align-items-center">
        <ul class="d-flex m-0">
            <li><a class="mx-3" href="/livros">Livros</a></li>
            <li><a class="mx-3" href="/login">Login</a></li>
        </ul>
    </nav>
    <main class="main-livros py-4 px-lg-5">
        <h1 class="text-center mb-4">Livros</h1>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome do Livro</th>
                        <th scope="col">Autor</th>
                        <th scope="col">Gênero</th>
                        <th scope="col">Editora</th>
                        <th scope="col">Páginas</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Cód. Barras</th>
                    </tr>
                </thead>
                <tbody>
                    <% listaLivros.forEach(function(livro){ %>
                        <tr>
                            <th scope="row"><%= livro.nomeLivro %></th>
                            <td><%= livro.nomeAutor %></td>
                            <td><%= livro.generoLivro %></td>
                            <td><%= livro.editora %></td>
                            <td><%= livro.qtdPaginas %></td>
                            <td><%= livro.valor %></td>
                            <td><%= livro.codigoBarras %></td>
                            <!-- <td>
                                <a class="btn btn-info" href="editarLivro/<%=livro._id %>">Editar</a>
                                <a class="btn btn-danger" href="deletarLivro/<%=livro._id %>">Deletar</a>
                            </td> -->
                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </main>
    <footer class="d-flex flex-column justify-content-center align-items-center py-3">
        <p class="m-0">UrsoTeca &copy;2021</p>
        <p class="m-0">Desenvolvido por Rafael Pontes</p>
    </footer>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
    <script src="script.js"></script>
</body>

</html>